@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bonus:hover {
  background-color: #ffffff;
  border-radius: 20;
  color: #000000
}

.project_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(112, 203, 173);
  border-radius: 20px;
  height: 100vh,
}

.default_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90vh;
}

.default_button {
  width: 200px;
  height: 40px;
  background-color: rgb(51, 103, 198);
  border-radius: 10px;
  color: #FFFFFF;
  margin-top: 10px;
}
.default_button:hover{
  background-color: rgb(42, 119, 182);
}

.extra_form {
  margin-top: 10px;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

.more_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80vh;
}

.default_input_container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.default_text_area_container {
  margin-top: 30px;
  color: #000000;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default_text_area {
  text-align: center;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
}

.default_input {
  margin-top: 5px;
  color: #000000;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}

.detail-project {
  width: "50%";
  display: "flex";
  justify-content: "center";
  align-items: "flex-start";
  height: "80vh";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes backgroundColorPalette {
	0% {
		background: #FFFFFF;
	}
	10% {
		background: #FFFFFF;
	}
	20% {
		background: #FEF8F8;
	}
	30% {
		background: #FDF0F0;
	}
  40% {
		background: #FCE7E7;
	}
  50% {
		background: #FEE1E1;
	}
  60% {
		background: #FED8D8;
	}
  70% {
		background: #FECFCF;
	}
  80% {
		background: #FEC7C7;
	}
  90% {
		background: #FEBFBF;
	}
  100% {
		background: #FFB7B7;
	}
}
